extends ../layout/main

block variables
	- var title = 'Главная';
	- 
		var pagelist = [
			{href: 'index.html',name:'Главная'},
			{href: 'tipografika.html',name:'Типографика'}
		];

block content
	section
		.st-width
			h1 содержание
			ul
				each page in pagelist
					li
						a(href=page.href)= page.name

